In [6]:
# Библиотеки принято подгружать в первой ячейке, я оставил загрузку библиотек по мере выполнения кода
import pandas as pd

В этом проекте я загружу результаты футбольных матчей РПЛ 2021-2022, обработаю их, приведу в нормальный табличный вид, создам новые столбцы с интересующими меня параметрами относительно каждого матча, например, силу встречающихся команд. Создам отдельную таблицу, в которой подсчитаю победы, ничьи поражения дома, на выезде, в сумме, набранные очки кмандой в сезоне. Еще в отдельной таблице подсчитаю забитые и пропущенные мячи. В конце применю статистические методы для анализа результата матчей.

Этот блок текста написан после выполнения разведывательного анализа и написания всего кода и является описанием нижепроведенных действий, цель которых - показать некоторые свои навыки в программировании на питоне и отработать их.

In [2]:
# Bundesliga
# Data from https://datahub.io/sports-data/german-bundesliga#data
# Daten von https://datahub.io/sports-data/german-bundesliga#data
s18_19 = pd.read_csv('https://datahub.io/sports-data/german-bundesliga/r/season-1819.csv')

In [3]:
# Сначала хотел сделать по готовому датасету, но по нему уже много скриптов в сети Интернет
# Еще и непонятно, что значат все эти аббревиатуры. Парочку расшифровал, остальные лень искать
# Да и данные не свежие
s18_19

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,D1,24/08/2018,Bayern Munich,Hoffenheim,3,1,H,1,0,H,...,3.55,22,-2.00,1.92,1.87,2.05,1.99,1.23,7.15,14.10
1,D1,25/08/2018,Fortuna Dusseldorf,Augsburg,1,2,A,1,0,H,...,1.76,20,0.00,1.80,1.76,2.17,2.11,2.74,3.33,2.78
2,D1,25/08/2018,Freiburg,Ein Frankfurt,0,2,A,0,1,A,...,1.69,20,-0.25,2.02,1.99,1.92,1.88,2.52,3.30,3.07
3,D1,25/08/2018,Hertha,Nurnberg,1,0,H,1,0,H,...,1.76,20,-0.25,1.78,1.74,2.21,2.14,1.79,3.61,5.21
4,D1,25/08/2018,M'gladbach,Leverkusen,2,0,H,0,0,D,...,2.32,20,0.00,2.13,2.07,1.84,1.78,2.63,3.70,2.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,D1,18/05/2019,Mainz,Hoffenheim,4,2,H,0,2,A,...,4.14,21,1.00,1.85,1.81,2.12,2.06,4.14,4.88,1.72
302,D1,18/05/2019,M'gladbach,Dortmund,0,2,A,0,1,A,...,3.40,19,0.25,1.95,1.89,2.04,1.98,2.89,4.27,2.25
303,D1,18/05/2019,Schalke 04,Stuttgart,0,0,D,0,0,D,...,2.54,21,-1.00,2.05,2.01,1.89,1.85,1.65,4.53,4.91
304,D1,18/05/2019,Werder Bremen,RB Leipzig,2,1,H,1,0,H,...,2.85,19,0.00,2.03,1.97,1.93,1.88,2.22,4.01,3.07
305,D1,18/05/2019,Wolfsburg,Augsburg,8,1,H,3,0,H,...,3.25,23,-1.50,2.10,2.04,1.88,1.82,1.32,6.17,8.70

FTHG - the number of goals scored by the home team,

FTAG - the number of goals scored by the away team

In [9]:
# Поэтому возьмем российскую Премьер-Лигу, сезон 2021-2022
# Просто зашел на страницу сайта чемпионат.ком и скопировал реузьтаты матчей сезона в текстовый редактор
# отсюда: https://www.championat.com/football/_russiapl/tournament/4465/calendar/
# Загрузил в ноутбук
rpl = pd.read_csv('C:/Users/artem/Rus_premier_liga.txt')

In [10]:
# Скопировалось и загрузилось все криво, надо работать с данными
rpl.head(20) # скопировал в txt файл, данные явно надо обработать и привести в табличный тип

                 Тур\tДата   время\t\tСчет\t
0   1\t23.07.2021  20:00\t               NaN
1        Ростов – Динамо М               NaN
2                  0 : 2\t               NaN
3   1\t24.07.2021  17:30\t               NaN
4            Химки – Зенит               NaN
5                  1 : 3\t               NaN
6   1\t24.07.2021  20:00\t               NaN
7    Локомотив М – Арсенал               NaN
8                  3 : 1\t               NaN
9   1\t24.07.2021  20:00\t               NaN
10       Рубин – Спартак М               NaN
11                 1 : 0\t               NaN
12  1\t25.07.2021  17:30\t               NaN
13        Урал – Краснодар               NaN
14                 0 : 3\t               NaN
15  1\t25.07.2021  19:00\t               NaN
16  Крылья Советов – Ахмат               NaN
17                 1 : 2\t               NaN
18  1\t25.07.2021  20:00\t               NaN
19              ЦСКА – Уфа               NaN

In [11]:
rpl = rpl['Тур\tДата']
# Вся интересующая меня информаци находится в 1 колонке, при этом она скопироваласьтак, что теперь нужно для начала объединить каждые 3 строки, а потом работать с ними

In [12]:
rpl

0       1\t23.07.2021  20:00\t
1            Ростов – Динамо М
2                      0 : 2\t
3       1\t24.07.2021  17:30\t
4                Химки – Зенит
                ...
715          Краснодар – Ахмат
716                    1 : 1\t
717    30\t21.05.2022  17:00\t
718              ЦСКА – Ростов
719                      4 : 0
Name: Тур\tДата, Length: 720, dtype: object

In [13]:
rpl_list = rpl.to_list()
rpl_list

['1\t23.07.2021  20:00\t',
 'Ростов – Динамо М',
 '0 : 2\t',
 '1\t24.07.2021  17:30\t',
 'Химки – Зенит',
 '1 : 3\t',
 '1\t24.07.2021  20:00\t',
 'Локомотив М – Арсенал',
 '3 : 1\t',
 '1\t24.07.2021  20:00\t',
 'Рубин – Спартак М',
 '1 : 0\t',
 '1\t25.07.2021  17:30\t',
 'Урал – Краснодар',
 '0 : 3\t',
 '1\t25.07.2021  19:00\t',
 'Крылья Советов – Ахмат',
 '1 : 2\t',
 '1\t25.07.2021  20:00\t',
 'ЦСКА – Уфа',
 '1 : 0\t',
 '1\t26.07.2021  19:00\t',
 'Нижний Новгород – Сочи',
 '1 : 0\t',
 '2\t30.07.2021  19:00\t',
 'Крылья Советов – Спартак М',
 '0 : 1\t',
 '2\t30.07.2021  19:00\t',
 'Арсенал – Рубин',
 '0 : 3\t',
 '2\t31.07.2021  17:30\t',
 'Уфа – Динамо М',
 '2 : 3\t',
 '2\t31.07.2021  20:00\t',
 'ЦСКА – Локомотив М',
 '1 : 2\t',
 '2\t01.08.2021  17:30\t',
 'Урал – Нижний Новгород',
 '1 : 1\t',
 '2\t01.08.2021  20:00\t',
 'Ростов – Зенит',
 '2 : 4\t',
 '2\t01.08.2021  20:00\t',
 'Краснодар – Химки',
 '0 : 1\t',
 '2\t02.08.2021  20:00\t',
 'Ахмат – Сочи',
 '1 : 2\t',
 '3\t06.08.2021  17:00\t',
 'Уфа – Локомотив М',
 '1 : 1\t',
 '3\t07.08.2021  17:00\t',
 'Зенит – Краснодар',
 '3 : 2\t',
 '3\t07.08.2021  17:30\t',
 'Арсенал – Крылья Советов',
 '2 : 1\t',
 '3\t07.08.2021  20:00\t',
 'Спартак М – Нижний Новгород',
 '1 : 2\t',
 '3\t08.08.2021  17:30\t',
 'Химки – Ростов',
 '1 : 1\t',
 '3\t08.08.2021  20:00\t',
 'Рубин – Ахмат',
 '2 : 1\t',
 '3\t08.08.2021  20:00\t',
 'Динамо М – ЦСКА',
 '2 : 1\t',
 '3\t09.08.2021  19:00\t',
 'Сочи – Урал',
 '2 : 0\t',
 '4\t14.08.2021  17:30\t',
 'Нижний Новгород – Уфа',
 '1 : 2\t',
 '4\t14.08.2021  17:30\t',
 'Спартак М – Урал',
 '1 : 0\t',
 '4\t14.08.2021  20:00\t',
 'Ахмат – Динамо М',
 '2 : 1\t',
 '4\t14.08.2021  20:00\t',
 'Ростов – ЦСКА',
 '1 : 3\t',
 '4\t15.08.2021  17:30\t',
 'Локомотив М – Зенит',
 '1 : 1\t',
 '4\t15.08.2021  20:00\t',
 'Краснодар – Арсенал',
 '3 : 2\t',
 '4\t15.08.2021  20:00\t',
 'Рубин – Крылья Советов',
 '1 : 1\t',
 '4\t16.08.2021  19:00\t',
 'Сочи – Химки',
 '3 : 0\t',
 '5\t21.08.2021  16:00\t',
 'ЦСКА – Ахмат',
 '2 : 0\t',
 '5\t21.08.2021  16:00\t',
 'Арсенал – Спартак М',
 '1 : 1\t',
 '5\t21.08.2021  18:00\t',
 'Урал – Динамо М',
 '0 : 1\t',
 '5\t21.08.2021  18:00\t',
 'Уфа – Зенит',
 '1 : 1\t',
 '5\t21.08.2021  20:00\t',
 'Крылья Советов – Сочи',
 '1 : 0\t',
 '5\t22.08.2021  16:00\t',
 'Локомотив М – Краснодар',
 '2 : 1\t',
 '5\t22.08.2021  18:00\t',
 'Нижний Новгород – Ростов',
 '1 : 2\t',
 '5\t22.08.2021  20:00\t',
 'Химки – Рубин',
 '1 : 1\t',
 '6\t26.08.2021  16:30\t',
 'Уфа – Крылья Советов',
 '1 : 2\t',
 '6\t26.08.2021  18:30\t',
 'Спартак М – Сочи',
 '1 : 2\t',
 '6\t26.08.2021  20:30\t',
 'Ахмат – Арсенал',
 '2 : 1\t',
 '6\t26.08.2021  20:45\t',
 'Зенит – ЦСКА',
 '1 : 0\t',
 '6\t27.08.2021  16:30\t',
 'Урал – Ростов',
 '1 : 1\t',
 '6\t27.08.2021  18:30\t',
 'Химки – Нижний Новгород',
 '1 : 1\t',
 '6\t27.08.2021  19:00\t',
 'Динамо М – Локомотив М',
 '1 : 1\t',
 '6\t27.08.2021  20:30\t',
 'Краснодар – Рубин',
 '2 : 0\t',
 '7\t11.09.2021  14:00\t',
 'Локомотив М – Крылья Советов',
 '2 : 0\t',
 '7\t11.09.2021  16:30\t',
 'Зенит – Ахмат',
 '3 : 1\t',
 '7\t11.09.2021  19:00\t',
 'Спартак М – Химки',
 '3 : 1\t',
 '7\t12.09.2021  14:00\t',
 'Арсенал – ЦСКА',
 '2 : 2\t',
 '7\t12.09.2021  16:30\t',
 'Сочи – Уфа',
 '3 : 1\t',
 '7\t12.09.2021  19:00\t',
 'Динамо М – Нижний Новгород',
 '1 : 2\t',
 '7\t13.09.2021  18:30\t',
 'Рубин – Урал',
 '4 : 0\t',
 '7\t13.09.2021  19:30\t',
 'Ростов – Краснодар',
 '1 : 1\t',
 '8\t18.09.2021  14:00\t',
 'Уфа – Химки',
 '3 : 2\t',
 '8\t18.09.2021  16:30\t',
 'Крылья Советов – Ростов',
 '4 : 2\t',
 '8\t18.09.2021  19:00\t',
 'Ахмат – Краснодар',
 '0 : 2\t',
 '8\t19.09.2021  16:30\t',
 'Нижний Новгород – Арсенал',
 '2 : 3\t',
 '8\t19.09.2021  19:00\t',
 'Сочи – Динамо М',
 '0 : 1\t',
 '8\t20.09.2021  16:30\t',
 'Урал – Локомотив М',
 '0 : 0\t',
 '8\t20.09.2021  18:30\t',
 'Рубин – Зенит',
 '1 : 3\t',
 '8\t20.09.2021  19:30\t',
 'ЦСКА – Спартак М',
 '1 : 0\t',
 '9\t25.09.2021  14:00\t',
 'Химки – Локомотив М',
 '0 : 0\t',
 '9\t25.09.2021  16:30\t',
 'Зенит – Крылья Советов',
 '2 : 1\t',
 '9\t25.09.2021  19:00\t',
 'Спартак М – Уфа',
 '2 : 0\t',
 '9\t26.09.2021  14:00\t',
 'Динамо М – Рубин',
 '2 : 0\t',
 '9\t26.09.2021  16:30\t',
 'Ростов – Ахмат',
 '1 : 2\t',
 '9\t26.09.2021  19:00\t',
 'Краснодар – Сочи',
 '3 : 0\t',
 '9\t27.09.2021  17:00\t',
 'Урал – Арсенал',
 '2 : 0\t',
 '9\t27.09.2021  19:00\t',
 'Нижний Новгород – ЦСКА',
 '0 : 2\t',
 '10\t02.10.2021  14:00\t',
 'Рубин – Нижний Новгород',
 '0 : 1\t',
 '10\t02.10.2021  16:30\t',
 'Динамо М – Крылья Советов',
 '0 : 1\t',
 '10\t02.10.2021  19:00\t',
 'Арсенал – Химки',
 '0 : 0\t',
 '10\t02.10.2021  19:00\t',
 'ЦСКА – Краснодар',
 '0 : 0\t',
 '10\t03.10.2021  14:00\t',
 'Уфа – Урал',
 '0 : 1\t',
 '10\t03.10.2021  16:30\t',
 'Зенит – Сочи',
 '1 : 2\t',
 '10\t03.10.2021  19:00\t',
 'Ахмат – Спартак М',
 '0 : 1\t',
 '10\t03.10.2021  19:00\t',
 'Локомотив М – Ростов',
 '1 : 2\t',
 '11\t16.10.2021  14:00\t',
 'Арсенал – Зенит',
 '2 : 1\t',
 '11\t16.10.2021  16:30\t',
 'Рубин – Локомотив М',
 '2 : 2\t',
 '11\t16.10.2021  19:00\t',
 'Сочи – Ростов',
 '3 : 2\t',
 '11\t16.10.2021  19:00\t',
 'Спартак М – Динамо М',
 '2 : 2\t',
 '11\t17.10.2021  14:00\t',
 'Урал – ЦСКА',
 '0 : 1\t',
 '11\t17.10.2021  16:30\t',
 'Крылья Советов – Нижний Новгород',
 '2 : 0\t',
 '11\t17.10.2021  16:30\t',
 'Химки – Ахмат',
 '2 : 0\t',
 '11\t17.10.2021  19:00\t',
 'Краснодар – Уфа',
 '1 : 1\t',
 '12\t22.10.2021  19:00\t',
 'Динамо М – Химки',
 '4 : 1\t',
 '12\t23.10.2021  14:00\t',
 'Нижний Новгород – Краснодар',
 '1 : 4\t',
 '12\t23.10.2021  16:30\t',
 'Ростов – Арсенал',
 '4 : 0\t',
 '12\t23.10.2021  19:00\t',
 'ЦСКА – Крылья Советов',
 '3 : 1\t',
 '12\t24.10.2021  14:00\t',
 'Уфа – Рубин',
 '1 : 1\t',
 '12\t24.10.2021  16:30\t',
 'Ахмат – Урал',
 '1 : 0\t',
 '12\t24.10.2021  19:00\t',
 'Зенит – Спартак М',
 '7 : 1\t',
 '12\t25.10.2021  19:00\t',
 'Локомотив М – Сочи',
 '2 : 1\t',
 '13\t29.10.2021  19:00\t',
 'Зенит – Динамо М',
 '4 : 1\t',
 '13\t30.10.2021  14:00\t',
 'Рубин – ЦСКА',
 '1 : 0\t',
 '13\t30.10.2021  16:30\t',
 'Спартак М – Ростов',
 '1 : 1\t',
 '13\t30.10.2021  19:00\t',
 'Нижний Новгород – Локомотив М',
 '1 : 2\t',
 '13\t30.10.2021  19:00\t',
 'Краснодар – Крылья Советов',
 '0 : 1\t',
 '13\t31.10.2021  14:00\t',
 'Уфа – Ахмат',
 '1 : 0\t',
 '13\t31.10.2021  16:30\t',
 'Арсенал – Сочи',
 '1 : 2\t',
 '13\t31.10.2021  19:00\t',
 'Химки – Урал',
 '0 : 0\t',
 '14\t06.11.2021  14:00\t',
 'Арсенал – Уфа',
 '0 : 0\t',
 '14\t06.11.2021  16:30\t',
 'Динамо М – Краснодар',
 '1 : 0\t',
 '14\t06.11.2021  16:30\t',
 'Крылья Советов – Химки',
 '3 : 0\t',
 '14\t06.11.2021  19:00\t',
 'Сочи – ЦСКА',
 '4 : 1\t',
 '14\t07.11.2021  14:00\t',
 'Урал – Зенит',
 '0 : 0\t',
 '14\t07.11.2021  16:30\t',
 'Ростов – Рубин',
 '5 : 1\t',
 '14\t07.11.2021  19:00\t',
 'Спартак М – Локомотив М',
 '1 : 1\t',
 '14\t07.11.2021  19:00\t',
 'Ахмат – Нижний Новгород',
 '3 : 1\t',
 '15\t19.11.2021  19:00\t',
 'Зенит – Нижний Новгород',
 '5 : 1\t',
 '15\t20.11.2021  14:00\t',
 'Крылья Советов – Урал',
 '1 : 1\t',
 '15\t20.11.2021  16:30\t',
 'Локомотив М – Ахмат',
 '1 : 2\t',
 '15\t20.11.2021  19:00\t',
 'Краснодар – Спартак М',
 '2 : 1\t',
 '15\t21.11.2021  14:00\t',
 'ЦСКА – Химки',
 '0 : 0\t',
 '15\t21.11.2021  14:00\t',
 'Ростов – Уфа',
 '2 : 2\t',
 '15\t21.11.2021  16:30\t',
 'Динамо М – Арсенал',
 '5 : 1\t',
 '15\t21.11.2021  19:30\t',
 'Сочи – Рубин',
 '1 : 2\t',
 '16\t27.11.2021  14:00\t',
 'Урал – Сочи',
 '1 : 1\t',
 '16\t27.11.2021  16:30\t',
 'Ахмат – Ростов',
 '2 : 0\t',
 '16\t27.11.2021  19:00\t',
 'Химки – Краснодар',
 '3 : 3\t',
 '16\t28.11.2021  14:00\t',
 'Нижний Новгород – Крылья Советов',
 '0 : 0\t',
 '16\t28.11.2021  16:30\t',
 'Рубин – Динамо М',
 '2 : 3\t',
 '16\t28.11.2021  20:00\t',
 'ЦСКА – Зенит',
 '0 : 2\t',
 '16\t29.11.2021  17:00\t',
 'Уфа – Спартак М',
 '1 : 1\t',
 '16\t29.11.2021  19:00\t',
 'Арсенал – Локомотив М',
 '3 : 1\t',
 '17\t03.12.2021  19:00\t',
 'Зенит – Ростов',
 '2 : 2\t',
 '17\t04.12.2021  14:00\t',
 'Крылья Советов – ЦСКА',
 '0 : 1\t',
 '17\t04.12.2021  17:00\t',
 'Спартак М – Ахмат',
 '2 : 1\t',
 '17\t04.12.2021  19:00\t',
 'Локомотив М – Урал',
 '0 : 1\t',
 '17\t05.12.2021  14:00\t',
 'Химки – Арсенал',
 '1 : 2\t',
 '17\t05.12.2021  16:30\t',
 'Нижний Новгород – Рубин',
 '2 : 1\t',
 '17\t05.12.2021  16:30\t',
 'Динамо М – Уфа',
 '2 : 0\t',
 '17\t05.12.2021  19:00\t',
 'Сочи – Краснодар',
 '1 : 2\t',
 '18\t11.12.2021  14:00\t',
 'Крылья Советов – Рубин',
 '2 : 0\t',
 '18\t11.12.2021  16:30\t',
 'ЦСКА – Арсенал',
 '2 : 0\t',
 '18\t11.12.2021  19:00\t',
 'Ростов – Урал',
 '1 : 4\t',
 '18\t12.12.2021  14:00\t',
 'Динамо М – Зенит',
 '1 : 1\t',
 '18\t12.12.2021  16:30\t',
 'Ахмат – Химки',
 '4 : 1\t',
 '18\t12.12.2021  19:00\t',
 'Локомотив М – Уфа',
 '2 : 0\t',
 '18\t12.12.2021  19:00\t',
 'Краснодар – Нижний Новгород',
 '0 : 0\t',
 '18\t13.12.2021  19:00\t',
 'Сочи – Спартак М',
 '3 : 0\t',
 '19\t26.02.2022  14:00\t',
 'Химки – Динамо М',
 '0 : 3\t',
 '19\t26.02.2022  14:00\t',
 'Нижний Новгород – Урал',
 '1 : 0\t',
 '19\t26.02.2022  16:30\t',
 'Сочи – Арсенал',
 '2 : 0\t',
 '19\t26.02.2022  19:00\t',
 'Спартак М – ЦСКА',
 '0 : 2\t',
 '19\t27.02.2022  19:00\t',
 'Ахмат – Уфа',
 '2 : 1\t',
 '19\t28.02.2022  19:00\t',
 'Зенит – Рубин',
 '3 : 2\t',
 '20\t05.03.2022  19:00\t',
 'ЦСКА – Нижний Новгород',
 '1 : 0\t',
 '20\t06.03.2022  14:00\t',
 'Локомотив М – Химки',
 '3 : 2\t',
 '20\t06.03.2022  14:00\t',
 'Крылья Советов – Арсенал',
 '2 : 2\t',
 '20\t06.03.2022  19:00\t',
 'Динамо М – Спартак М',
 '0 : 2\t',
 '20\t07.03.2022  14:00\t',
 'Краснодар – Урал',
 '2 : 1\t',
 '20\t07.03.2022  16:30\t',
 'Зенит – Уфа',
 '2 : 0\t',
 '20\t07.03.2022  16:30\t',
 'Ростов – Сочи',
 '0 : 1\t',
 '20\t07.03.2022  19:00\t',
 'Ахмат – Рубин',
 '1 : 2\t',
 '21\t12.03.2022  14:00\t',
 'Уфа – Нижний Новгород',
 '0 : 0\t',
 '21\t12.03.2022  16:30\t',
 'Арсенал – Динамо М',
 '1 : 4\t',
 '21\t12.03.2022  19:00\t',
 'Локомотив М – ЦСКА',
 '1 : 2\t',
 '21\t13.03.2022  12:00\t',
 'Урал – Ахмат',
 '0 : 0\t',
 '21\t13.03.2022  14:00\t',
 'Химки – Сочи',
 '0 : 0\t',
 '21\t13.03.2022  16:30\t',
 'Крылья Советов – Зенит',
 '1 : 1\t',
 '21\t13.03.2022  19:00\t',
 'Спартак М – Краснодар',
 '1 : 2\t',
 '21\t14.03.2022  19:00\t',
 'Рубин – Ростов',
 '1 : 2\t',
 '22\t19.03.2022  12:00\t',
 'Урал – Химки',
 '0 : 1\t',
 '22\t19.03.2022  14:00\t',
 'Нижний Новгород – Спартак М',
 '1 : 1\t',
 '22\t19.03.2022  16:30\t',
 'Ахмат – Локомотив М',
 '2 : 3\t',
 '22\t19.03.2022  19:30\t',
 'Зенит – Арсенал',
 '3 : 0\t',
 '22\t20.03.2022  14:00\t',
 'Уфа – Краснодар',
 '1 : 1\t',
 '22\t20.03.2022  14:00\t',
 'ЦСКА – Рубин',
 '6 : 1\t',
 '22\t20.03.2022  16:30\t',
 'Сочи – Крылья Советов',
 '2 : 3\t',
 '22\t20.03.2022  20:00\t',
 'Динамо М – Ростов',
 '1 : 1\t',
 '23\t01.04.2022  19:00\t',
 'Рубин – Химки',
 '2 : 3\t',
 '23\t02.04.2022  14:00\t',
 'Арсенал – Ахмат',
 '0 : 0\t',
 '23\t02.04.2022  14:00\t',
 'Крылья Советов – Уфа',
 '1 : 2\t',
 '23\t02.04.2022  16:30\t',
 'Ростов – Нижний Новгород',
 '1 : 2\t',
 '23\t02.04.2022  20:30\t',
 'Локомотив М – Спартак М',
 '1 : 0\t',
 '23\t03.04.2022  14:00\t',
 'Краснодар – Динамо М',
 '0 : 1\t',
 '23\t03.04.2022  16:30\t',
 'ЦСКА – Урал',
 '2 : 2\t',
 '23\t03.04.2022  19:00\t',
 'Сочи – Зенит',
 '0 : 0\t',
 '19\t06.04.2022  19:00\t',
 'Ростов – Крылья Советов',
 '1 : 0\t',
 '24\t09.04.2022  14:00\t',
 'Нижний Новгород – Динамо М',
 '0 : 1\t',
 '24\t09.04.2022  14:00\t',
 'Химки – ЦСКА',
 '4 : 2\t',
 '24\t09.04.2022  16:30\t',
 'Рубин – Краснодар',
 '0 : 1\t',
 '24\t09.04.2022  19:30\t',
 'Ахмат – Зенит',
 '0 : 2\t',
 '24\t10.04.2022  12:00\t',
 'Урал – Крылья Советов',
 '0 : 1\t',
 '24\t10.04.2022  14:00\t',
 'Уфа – Сочи',
 '1 : 2\t',
 '24\t10.04.2022  16:30\t',
 'Спартак М – Арсенал',
 '3 : 0\t',
 '24\t10.04.2022  19:30\t',
 'Ростов – Локомотив М',
 '4 : 1\t',
 '25\t15.04.2022  19:30\t',
 'Динамо М – Ахмат',
 '2 : 0\t',
 '25\t16.04.2022  14:00\t',
 'Уфа – ЦСКА',
 '1 : 1\t',
 '25\t16.04.2022  16:30\t',
 'Зенит – Урал',
 '3 : 1\t',
 '25\t16.04.2022  19:00\t',
 'Спартак М – Рубин',
 '1 : 1\t',
 '25\t17.04.2022  14:00\t',
 'Арсенал – Ростов',
 '1 : 2\t',
 '25\t17.04.2022  16:30\t',
 'Сочи – Локомотив М',
 '2 : 2\t',
 '25\t17.04.2022  16:30\t',
 'Крылья Советов – Краснодар',
 '2 : 0\t',
 '25\t17.04.2022  19:00\t',
 'Нижний Новгород – Химки',
 '0 : 0\t',
 '26\t23.04.2022  14:00\t',
 'Урал – Уфа',
 '2 : 1\t',
 '26\t23.04.2022  16:30\t',
 'Локомотив М – Нижний Новгород',
 '2 : 1\t',
 '26\t23.04.2022  19:00\t',
 'Сочи – Ахмат',
 '3 : 2\t',
 '26\t24.04.2022  14:00\t',
 'Рубин – Арсенал',
 '1 : 0\t',
 '26\t24.04.2022  14:00\t',
 'Химки – Крылья Советов',
 '4 : 1\t',
 '26\t24.04.2022  16:30\t',
 'Ростов – Спартак М',
 '3 : 2\t',
 '26\t24.04.2022  19:30\t',
 'ЦСКА – Динамо М',
 '1 : 0\t',
 '26\t25.04.2022  19:00\t',
 'Краснодар – Зенит',
 '1 : 3\t',
 '27\t30.04.2022  14:00\t',
 'Динамо М – Урал',
 '2 : 3\t',
 '27\t30.04.2022  14:00\t',
 'Рубин – Сочи',
 '0 : 6\t',
 '27\t30.04.2022  16:30\t',
 'Краснодар – Ростов',
 '2 : 1\t',
 '27\t30.04.2022  19:30\t',
 'Зенит – Локомотив М',
 '3 : 1\t',
 '27\t01.05.2022  14:00\t',
 'Спартак М – Крылья Советов',
 '2 : 1\t',
 '27\t01.05.2022  16:30\t',
 'Химки – Уфа',
 '1 : 1\t',
 '27\t01.05.2022  19:00\t',
 'Ахмат – ЦСКА',
 '2 : 0\t',
 '27\t02.05.2022  19:00\t',
 'Арсенал – Нижний Новгород',
 '2 : 2\t',
 '19\t04.05.2022  19:00\t',
 'Краснодар – Локомотив М',
 '1 : 0\t',
 '28\t06.05.2022  18:00\t',
 'Крылья Советов – Динамо М',
 '5 : 2\t',
 '28\t07.05.2022  14:00\t',
 'Урал – Спартак М',
 '1 : 3\t',
 '28\t07.05.2022  16:30\t',
 'Нижний Новгород – Ахмат',
 '0 : 1\t',
 '28\t07.05.2022  16:30\t',
 'Зенит – Химки',
 '1 : 0\t',
 '28\t07.05.2022  19:00\t',
 'ЦСКА – Сочи',
 '0 : 1\t',
 '28\t08.05.2022  14:00\t',
 'Уфа – Ростов',
 '0 : 0\t',
 '28\t08.05.2022  16:30\t',
 'Арсенал – Краснодар',
 '1 : 1\t',
 '28\t08.05.2022  19:00\t',
 'Локомотив М – Рубин',
 '1 : 0\t',
 '29\t13.05.2022  19:00\t',
 'Сочи – Нижний Новгород',
 '0 : 0\t',
 '29\t14.05.2022  14:00\t',
 'Уфа – Арсенал',
 '2 : 1\t',
 '29\t14.05.2022  16:30\t',
 'Локомотив М – Динамо М',
 '3 : 3\t',
 '29\t14.05.2022  16:30\t',
 'Ростов – Химки',
 '2 : 1\t',
 '29\t14.05.2022  19:00\t',
 'Ахмат – Крылья Советов',
 '1 : 0\t',
 '29\t15.05.2022  14:00\t',
 'Урал – Рубин',
 '3 : 0\t',
 '29\t15.05.2022  16:30\t',
 'Спартак М – Зенит',
 '1 : 1\t',
 '29\t15.05.2022  19:00\t',
 'Краснодар – ЦСКА',
 '1 : 0\t',
 '30\t21.05.2022  17:00\t',
 'Химки – Спартак М',
 '2 : 1\t',
 '30\t21.05.2022  17:00\t',
 'Арсенал – Урал',
 '1 : 2\t',
 '30\t21.05.2022  17:00\t',
 'Нижний Новгород – Зенит',
 '1 : 0\t',
 '30\t21.05.2022  17:00\t',
 'Рубин – Уфа',
 '1 : 2\t',
 '30\t21.05.2022  17:00\t',
 'Крылья Советов – Локомотив М',
 '0 : 1\t',
 '30\t21.05.2022  17:00\t',
 'Динамо М – Сочи',
 '1 : 5\t',
 '30\t21.05.2022  17:00\t',
 'Краснодар – Ахмат',
 '1 : 1\t',
 '30\t21.05.2022  17:00\t',
 'ЦСКА – Ростов',
 '4 : 0']

In [14]:
# Делаем 3 списка
t1 = rpl_list [0::3]
t2 = rpl_list [1::3] 
t3 = rpl_list [2::3]

In [15]:
t1 # остальные 2 списка выглядят похожим образом

['1\t23.07.2021  20:00\t',
 '1\t24.07.2021  17:30\t',
 '1\t24.07.2021  20:00\t',
 '1\t24.07.2021  20:00\t',
 '1\t25.07.2021  17:30\t',
 '1\t25.07.2021  19:00\t',
 '1\t25.07.2021  20:00\t',
 '1\t26.07.2021  19:00\t',
 '2\t30.07.2021  19:00\t',
 '2\t30.07.2021  19:00\t',
 '2\t31.07.2021  17:30\t',
 '2\t31.07.2021  20:00\t',
 '2\t01.08.2021  17:30\t',
 '2\t01.08.2021  20:00\t',
 '2\t01.08.2021  20:00\t',
 '2\t02.08.2021  20:00\t',
 '3\t06.08.2021  17:00\t',
 '3\t07.08.2021  17:00\t',
 '3\t07.08.2021  17:30\t',
 '3\t07.08.2021  20:00\t',
 '3\t08.08.2021  17:30\t',
 '3\t08.08.2021  20:00\t',
 '3\t08.08.2021  20:00\t',
 '3\t09.08.2021  19:00\t',
 '4\t14.08.2021  17:30\t',
 '4\t14.08.2021  17:30\t',
 '4\t14.08.2021  20:00\t',
 '4\t14.08.2021  20:00\t',
 '4\t15.08.2021  17:30\t',
 '4\t15.08.2021  20:00\t',
 '4\t15.08.2021  20:00\t',
 '4\t16.08.2021  19:00\t',
 '5\t21.08.2021  16:00\t',
 '5\t21.08.2021  16:00\t',
 '5\t21.08.2021  18:00\t',
 '5\t21.08.2021  18:00\t',
 '5\t21.08.2021  20:00\t',
 '5\t22.08.2021  16:00\t',
 '5\t22.08.2021  18:00\t',
 '5\t22.08.2021  20:00\t',
 '6\t26.08.2021  16:30\t',
 '6\t26.08.2021  18:30\t',
 '6\t26.08.2021  20:30\t',
 '6\t26.08.2021  20:45\t',
 '6\t27.08.2021  16:30\t',
 '6\t27.08.2021  18:30\t',
 '6\t27.08.2021  19:00\t',
 '6\t27.08.2021  20:30\t',
 '7\t11.09.2021  14:00\t',
 '7\t11.09.2021  16:30\t',
 '7\t11.09.2021  19:00\t',
 '7\t12.09.2021  14:00\t',
 '7\t12.09.2021  16:30\t',
 '7\t12.09.2021  19:00\t',
 '7\t13.09.2021  18:30\t',
 '7\t13.09.2021  19:30\t',
 '8\t18.09.2021  14:00\t',
 '8\t18.09.2021  16:30\t',
 '8\t18.09.2021  19:00\t',
 '8\t19.09.2021  16:30\t',
 '8\t19.09.2021  19:00\t',
 '8\t20.09.2021  16:30\t',
 '8\t20.09.2021  18:30\t',
 '8\t20.09.2021  19:30\t',
 '9\t25.09.2021  14:00\t',
 '9\t25.09.2021  16:30\t',
 '9\t25.09.2021  19:00\t',
 '9\t26.09.2021  14:00\t',
 '9\t26.09.2021  16:30\t',
 '9\t26.09.2021  19:00\t',
 '9\t27.09.2021  17:00\t',
 '9\t27.09.2021  19:00\t',
 '10\t02.10.2021  14:00\t',
 '10\t02.10.2021  16:30\t',
 '10\t02.10.2021  19:00\t',
 '10\t02.10.2021  19:00\t',
 '10\t03.10.2021  14:00\t',
 '10\t03.10.2021  16:30\t',
 '10\t03.10.2021  19:00\t',
 '10\t03.10.2021  19:00\t',
 '11\t16.10.2021  14:00\t',
 '11\t16.10.2021  16:30\t',
 '11\t16.10.2021  19:00\t',
 '11\t16.10.2021  19:00\t',
 '11\t17.10.2021  14:00\t',
 '11\t17.10.2021  16:30\t',
 '11\t17.10.2021  16:30\t',
 '11\t17.10.2021  19:00\t',
 '12\t22.10.2021  19:00\t',
 '12\t23.10.2021  14:00\t',
 '12\t23.10.2021  16:30\t',
 '12\t23.10.2021  19:00\t',
 '12\t24.10.2021  14:00\t',
 '12\t24.10.2021  16:30\t',
 '12\t24.10.2021  19:00\t',
 '12\t25.10.2021  19:00\t',
 '13\t29.10.2021  19:00\t',
 '13\t30.10.2021  14:00\t',
 '13\t30.10.2021  16:30\t',
 '13\t30.10.2021  19:00\t',
 '13\t30.10.2021  19:00\t',
 '13\t31.10.2021  14:00\t',
 '13\t31.10.2021  16:30\t',
 '13\t31.10.2021  19:00\t',
 '14\t06.11.2021  14:00\t',
 '14\t06.11.2021  16:30\t',
 '14\t06.11.2021  16:30\t',
 '14\t06.11.2021  19:00\t',
 '14\t07.11.2021  14:00\t',
 '14\t07.11.2021  16:30\t',
 '14\t07.11.2021  19:00\t',
 '14\t07.11.2021  19:00\t',
 '15\t19.11.2021  19:00\t',
 '15\t20.11.2021  14:00\t',
 '15\t20.11.2021  16:30\t',
 '15\t20.11.2021  19:00\t',
 '15\t21.11.2021  14:00\t',
 '15\t21.11.2021  14:00\t',
 '15\t21.11.2021  16:30\t',
 '15\t21.11.2021  19:30\t',
 '16\t27.11.2021  14:00\t',
 '16\t27.11.2021  16:30\t',
 '16\t27.11.2021  19:00\t',
 '16\t28.11.2021  14:00\t',
 '16\t28.11.2021  16:30\t',
 '16\t28.11.2021  20:00\t',
 '16\t29.11.2021  17:00\t',
 '16\t29.11.2021  19:00\t',
 '17\t03.12.2021  19:00\t',
 '17\t04.12.2021  14:00\t',
 '17\t04.12.2021  17:00\t',
 '17\t04.12.2021  19:00\t',
 '17\t05.12.2021  14:00\t',
 '17\t05.12.2021  16:30\t',
 '17\t05.12.2021  16:30\t',
 '17\t05.12.2021  19:00\t',
 '18\t11.12.2021  14:00\t',
 '18\t11.12.2021  16:30\t',
 '18\t11.12.2021  19:00\t',
 '18\t12.12.2021  14:00\t',
 '18\t12.12.2021  16:30\t',
 '18\t12.12.2021  19:00\t',
 '18\t12.12.2021  19:00\t',
 '18\t13.12.2021  19:00\t',
 '19\t26.02.2022  14:00\t',
 '19\t26.02.2022  14:00\t',
 '19\t26.02.2022  16:30\t',
 '19\t26.02.2022  19:00\t',
 '19\t27.02.2022  19:00\t',
 '19\t28.02.2022  19:00\t',
 '20\t05.03.2022  19:00\t',
 '20\t06.03.2022  14:00\t',
 '20\t06.03.2022  14:00\t',
 '20\t06.03.2022  19:00\t',
 '20\t07.03.2022  14:00\t',
 '20\t07.03.2022  16:30\t',
 '20\t07.03.2022  16:30\t',
 '20\t07.03.2022  19:00\t',
 '21\t12.03.2022  14:00\t',
 '21\t12.03.2022  16:30\t',
 '21\t12.03.2022  19:00\t',
 '21\t13.03.2022  12:00\t',
 '21\t13.03.2022  14:00\t',
 '21\t13.03.2022  16:30\t',
 '21\t13.03.2022  19:00\t',
 '21\t14.03.2022  19:00\t',
 '22\t19.03.2022  12:00\t',
 '22\t19.03.2022  14:00\t',
 '22\t19.03.2022  16:30\t',
 '22\t19.03.2022  19:30\t',
 '22\t20.03.2022  14:00\t',
 '22\t20.03.2022  14:00\t',
 '22\t20.03.2022  16:30\t',
 '22\t20.03.2022  20:00\t',
 '23\t01.04.2022  19:00\t',
 '23\t02.04.2022  14:00\t',
 '23\t02.04.2022  14:00\t',
 '23\t02.04.2022  16:30\t',
 '23\t02.04.2022  20:30\t',
 '23\t03.04.2022  14:00\t',
 '23\t03.04.2022  16:30\t',
 '23\t03.04.2022  19:00\t',
 '19\t06.04.2022  19:00\t',
 '24\t09.04.2022  14:00\t',
 '24\t09.04.2022  14:00\t',
 '24\t09.04.2022  16:30\t',
 '24\t09.04.2022  19:30\t',
 '24\t10.04.2022  12:00\t',
 '24\t10.04.2022  14:00\t',
 '24\t10.04.2022  16:30\t',
 '24\t10.04.2022  19:30\t',
 '25\t15.04.2022  19:30\t',
 '25\t16.04.2022  14:00\t',
 '25\t16.04.2022  16:30\t',
 '25\t16.04.2022  19:00\t',
 '25\t17.04.2022  14:00\t',
 '25\t17.04.2022  16:30\t',
 '25\t17.04.2022  16:30\t',
 '25\t17.04.2022  19:00\t',
 '26\t23.04.2022  14:00\t',
 '26\t23.04.2022  16:30\t',
 '26\t23.04.2022  19:00\t',
 '26\t24.04.2022  14:00\t',
 '26\t24.04.2022  14:00\t',
 '26\t24.04.2022  16:30\t',
 '26\t24.04.2022  19:30\t',
 '26\t25.04.2022  19:00\t',
 '27\t30.04.2022  14:00\t',
 '27\t30.04.2022  14:00\t',
 '27\t30.04.2022  16:30\t',
 '27\t30.04.2022  19:30\t',
 '27\t01.05.2022  14:00\t',
 '27\t01.05.2022  16:30\t',
 '27\t01.05.2022  19:00\t',
 '27\t02.05.2022  19:00\t',
 '19\t04.05.2022  19:00\t',
 '28\t06.05.2022  18:00\t',
 '28\t07.05.2022  14:00\t',
 '28\t07.05.2022  16:30\t',
 '28\t07.05.2022  16:30\t',
 '28\t07.05.2022  19:00\t',
 '28\t08.05.2022  14:00\t',
 '28\t08.05.2022  16:30\t',
 '28\t08.05.2022  19:00\t',
 '29\t13.05.2022  19:00\t',
 '29\t14.05.2022  14:00\t',
 '29\t14.05.2022  16:30\t',
 '29\t14.05.2022  16:30\t',
 '29\t14.05.2022  19:00\t',
 '29\t15.05.2022  14:00\t',
 '29\t15.05.2022  16:30\t',
 '29\t15.05.2022  19:00\t',
 '30\t21.05.2022  17:00\t',
 '30\t21.05.2022  17:00\t',
 '30\t21.05.2022  17:00\t',
 '30\t21.05.2022  17:00\t',
 '30\t21.05.2022  17:00\t',
 '30\t21.05.2022  17:00\t',
 '30\t21.05.2022  17:00\t',
 '30\t21.05.2022  17:00\t']

In [16]:
# Чтобы опять объединить в датафрейм
rpl = pd.DataFrame({'col1': t1, 'col2': t2, 'col3': t3})

In [17]:
rpl
# Это уже более удобочитаемый вид, но надо работать дальше
# Отсюда можно извлечь:
# Дату и время, чтобы потом, например, посмотреть как влияет на результат время года (весна, лето осень, зима), время дня (утро, день, вечер)
# Команду хозяев (указана первой), команду гостей (указана второй)
# Голы команды хозяев, голы команды гостей
# На этой основе рассчитать победы/поражения/ничьи, воспроизвести таблицу с местами по итогу чемпионата
# У меня такой цели нет, но некоторые показатели будут рассчитаны

                        col1                          col2     col3
0     1\t23.07.2021  20:00\t             Ростов – Динамо М  0 : 2\t
1     1\t24.07.2021  17:30\t                 Химки – Зенит  1 : 3\t
2     1\t24.07.2021  20:00\t         Локомотив М – Арсенал  3 : 1\t
3     1\t24.07.2021  20:00\t             Рубин – Спартак М  1 : 0\t
4     1\t25.07.2021  17:30\t              Урал – Краснодар  0 : 3\t
..                       ...                           ...      ...
235  30\t21.05.2022  17:00\t                   Рубин – Уфа  1 : 2\t
236  30\t21.05.2022  17:00\t  Крылья Советов – Локомотив М  0 : 1\t
237  30\t21.05.2022  17:00\t               Динамо М – Сочи  1 : 5\t
238  30\t21.05.2022  17:00\t             Краснодар – Ахмат  1 : 1\t
239  30\t21.05.2022  17:00\t                 ЦСКА – Ростов    4 : 0

[240 rows x 3 columns]

In [18]:
# Убираем лишние символы
rpl['col1'] = rpl['col1'].str.replace('1\t', '')

In [19]:
# Убираем лишние символы
rpl['col1'] = rpl['col1'].str.replace('\t', '')
rpl['col3'] = rpl['col3'].str.replace('\t', '')

In [20]:
# Смотрим результат
# Уже лучше выглядит, почти как на сайте!
# Но мне нужен другой формат данных
rpl

                    col1                          col2   col3
0      23.07.2021  20:00             Ростов – Динамо М  0 : 2
1      24.07.2021  17:30                 Химки – Зенит  1 : 3
2      24.07.2021  20:00         Локомотив М – Арсенал  3 : 1
3      24.07.2021  20:00             Рубин – Спартак М  1 : 0
4      25.07.2021  17:30              Урал – Краснодар  0 : 3
..                   ...                           ...    ...
235  3021.05.2022  17:00                   Рубин – Уфа  1 : 2
236  3021.05.2022  17:00  Крылья Советов – Локомотив М  0 : 1
237  3021.05.2022  17:00               Динамо М – Сочи  1 : 5
238  3021.05.2022  17:00             Краснодар – Ахмат  1 : 1
239  3021.05.2022  17:00                 ЦСКА – Ростов  4 : 0

[240 rows x 3 columns]

In [21]:
# Похоже, что где-то скопировались  номера туров, первый тур не скопировался
# При этом в 2-9 турах надо убрать 1 цифру  сначала, а в 10-30 труах - 2 цифры.
rpl.col1[7:15]

7      26.07.2021  19:00
8     230.07.2021  19:00
9     230.07.2021  19:00
10    231.07.2021  17:30
11    231.07.2021  20:00
12    201.08.2021  17:30
13    201.08.2021  20:00
14    201.08.2021  20:00
Name: col1, dtype: object

In [22]:
# Легче взять n (17) цифр с конца и сохранить обратно в переменную
rpl['col1'] = rpl['col1'].str[-17:]

In [23]:
# Исправили
rpl.tail(4)

                  col1                          col2   col3
236  21.05.2022  17:00  Крылья Советов – Локомотив М  0 : 1
237  21.05.2022  17:00               Динамо М – Сочи  1 : 5
238  21.05.2022  17:00             Краснодар – Ахмат  1 : 1
239  21.05.2022  17:00                 ЦСКА – Ростов  4 : 0

In [24]:
# Можно работать дальше
# Сначала разберемся с датой
# Столбец col1  в формате object, приводим к формате даты, что позволит применять к столбцу нужные нам методы
rpl['date'] = pd.to_datetime(rpl['col1'], format='%d.%m.%Y %H:%M')

In [25]:
# Например, можно применить метод 'dt.day_name()' и узнать день недели в который был сыгран матч
rpl['weekday'] = rpl['date'].dt.day_name()
rpl.tail(4)

,col1,col2,col3,date,weekday
236,21.05.2022 17:00,Крылья Советов – Локомотив М,0 : 1,2022-05-21 17:00:00,Saturday
237,21.05.2022 17:00,Динамо М – Сочи,1 : 5,2022-05-21 17:00:00,Saturday
238,21.05.2022 17:00,Краснодар – Ахмат,1 : 1,2022-05-21 17:00:00,Saturday
239,21.05.2022 17:00,ЦСКА – Ростов,4 : 0,2022-05-21 17:00:00,Saturday

In [26]:
# А потом подсчитать количество матчей, сыгранных в разные дни недели
rpl.weekday.value_counts()

Saturday     103
Sunday        92
Monday        23
Friday        16
Thursday       4
Wednesday      2
Name: weekday, dtype: int64

In [27]:
#Выделим временную часть 
rpl['day_time'] = rpl.date.dt.time

In [28]:
# Посмотрим в какое время обычно начинаются матчи 
# (Допустим, что у нас есть гипотеза о влиянии время начала матча на исход матча - ничью, победу гостей или хозяев
# и тогда эти данные нам тогда пригодятся)
rpl.day_time.value_counts()

19:00:00    67
16:30:00    53
14:00:00    52
20:00:00    19
17:00:00    13
17:30:00     9
19:30:00     9
18:00:00     4
18:30:00     4
16:00:00     3
20:30:00     3
12:00:00     3
20:45:00     1
Name: day_time, dtype: int64

In [29]:
# Создадим колонку, в которой будут сохранены значения времени проведения матчей в качестве категориальной пременной
# Дневные - для матчей до 17.00, вечерние - для матчей в 17.00 и позже 
# Объявим функцию
def get_period(time):
    if time >= pd.to_datetime("17:00:00", format="%H:%M:%S").time():
        return "вечерний"
    else:
        return "дневной"

In [31]:
# Применим функцию
rpl['day_time_cat'] = rpl['day_time'].apply(lambda x: get_period(pd.to_datetime(x, format="%H:%M:%S").time()))

In [32]:
# Посмотрим в какое время обычно начинаются матчи: дневное или вечернее?
rpl.day_time_cat.value_counts()

вечерний    129
дневной     111
Name: day_time_cat, dtype: int64

In [33]:
# Узнаем месяца
rpl['month'] = rpl['date'].dt.month_name() # имя месяца
rpl['month_number'] = rpl['date'].dt.month # номер месяца
rpl.tail(4)

,col1,col2,col3,date,weekday,day_time,day_time_cat,month,month_number
236,21.05.2022 17:00,Крылья Советов – Локомотив М,0 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5
237,21.05.2022 17:00,Динамо М – Сочи,1 : 5,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5
238,21.05.2022 17:00,Краснодар – Ахмат,1 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5
239,21.05.2022 17:00,ЦСКА – Ростов,4 : 0,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5

In [34]:
# Матчи, сыгранные по месяцам
rpl.month.value_counts()

April        37
August       36
October      32
May          29
September    24
November     24
March        24
December     16
July         12
February      6
Name: month, dtype: int64

In [35]:
# Тоже самое можно проделать с временаями года
rpl['season'] = rpl['date'].dt.quarter.map({1:'Winter', 2:'Spring', 3:'Summer', 4:'Autumn'}) # имя месяца, можно и по-русски
rpl.tail(4)

,col1,col2,col3,date,weekday,day_time,day_time_cat,month,month_number,season
236,21.05.2022 17:00,Крылья Советов – Локомотив М,0 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring
237,21.05.2022 17:00,Динамо М – Сочи,1 : 5,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring
238,21.05.2022 17:00,Краснодар – Ахмат,1 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring
239,21.05.2022 17:00,ЦСКА – Ростов,4 : 0,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring

In [36]:
# Матчи, сыгранные по времена года
rpl.season.value_counts()

Summer    72
Autumn    72
Spring    66
Winter    30
Name: season, dtype: int64

In [37]:
# Разделяем запись в col2 на 2 столбца, команду хозяев и команду гостей 
rpl[['home_team', 'away_team']] = rpl['col2'].str.split('–', n=1, expand=True)

In [38]:
rpl.tail(4)

,col1,col2,col3,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team
236,21.05.2022 17:00,Крылья Советов – Локомотив М,0 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Крылья Советов,Локомотив М
237,21.05.2022 17:00,Динамо М – Сочи,1 : 5,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Динамо М,Сочи
238,21.05.2022 17:00,Краснодар – Ахмат,1 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Краснодар,Ахмат
239,21.05.2022 17:00,ЦСКА – Ростов,4 : 0,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,ЦСКА,Ростов

In [39]:
# Таблица постепенно становится больше и больше, давайте удалим первые 2 столбца, они уже не нужны
rpl = rpl.drop(columns=['col1', 'col2'])
rpl.tail(4)

,col3,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team
236,0 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Крылья Советов,Локомотив М
237,1 : 5,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Динамо М,Сочи
238,1 : 1,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Краснодар,Ахмат
239,4 : 0,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,ЦСКА,Ростов

In [40]:
# Теперь давайте сделаем тоже самое с голами, что сделали с названиями команды
# Разделяем запись в col3 на 2 столбца, команду хозяев и команду гостей 
rpl[['home_team_goals', 'away_team_goals']] = rpl['col3'].str.split(':', n=1, expand=True)

In [41]:
# Смотрим как сохранены данные. Нам нужно, чтобы значения переменных 'home_team_goals', 'away_team_goals' были сохранены как числа,
# чтобы иметь возможность производить с ними арифметические вычисления и применять методы
rpl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   col3             240 non-null    object
 1   date             240 non-null    datetime64[ns]
 2   weekday          240 non-null    object
 3   day_time         240 non-null    object
 4   day_time_cat     240 non-null    object
 5   month            240 non-null    object
 6   month_number     240 non-null    int64
 7   season           240 non-null    object
 8   home_team        240 non-null    object
 9   away_team        240 non-null    object
 10  home_team_goals  240 non-null    object
 11  away_team_goals  240 non-null    object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 22.6+ KB

In [42]:
# Приводим
rpl['home_team_goals'] = rpl['home_team_goals'].astype(int)
rpl['away_team_goals'] = rpl['away_team_goals'].astype(int)

In [43]:
# Прощаемся с col3
rpl = rpl.drop(columns=['col3'])
rpl.tail(4)

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals
236,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Крылья Советов,Локомотив М,0,1
237,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Динамо М,Сочи,1,5
238,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Краснодар,Ахмат,1,1
239,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,ЦСКА,Ростов,4,0

In [44]:
rpl.home_team_goals.info(), rpl.away_team_goals.info()

<class 'pandas.core.series.Series'>
RangeIndex: 240 entries, 0 to 239
Series name: home_team_goals
Non-Null Count  Dtype
--------------  -----
240 non-null    int32
dtypes: int32(1)
memory usage: 1.1 KB
<class 'pandas.core.series.Series'>
RangeIndex: 240 entries, 0 to 239
Series name: away_team_goals
Non-Null Count  Dtype
--------------  -----
240 non-null    int32
dtypes: int32(1)
memory usage: 1.1 KB

(None, None)

In [45]:
# Теперь можно создать столбец с результатом матча (победа хозяев, гостей или ничья)
import numpy as np

conditions = [
    (rpl['home_team_goals'] > rpl['away_team_goals']),
    (rpl['home_team_goals'] < rpl['away_team_goals']),
    (rpl['home_team_goals'] == rpl['away_team_goals'])
]

values = ['home_win', 'away_win', 'tie']

rpl['result'] = np.select(conditions, values)

In [46]:
rpl.tail(4)

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result
236,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Крылья Советов,Локомотив М,0,1,away_win
237,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Динамо М,Сочи,1,5,away_win
238,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Краснодар,Ахмат,1,1,tie
239,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,ЦСКА,Ростов,4,0,home_win

In [47]:
# Данные подготовлены 
# Теперь можно "повеселиться" - использовать группировки, агрегации, подгружать статпакеты и использовать статметоды

In [48]:
# Например, можно узнать какие команды чаще забивают и пропускают дома
rpl.groupby('home_team', as_index = False) \
    .agg({'home_team_goals' : 'sum', 'away_team_goals' : 'sum'}) \
    .sort_values('home_team_goals', ascending=False) \
    .rename(columns = {'home_team_goals': 'забитые дома голы', 'away_team_goals' : 'пропущенные дома голы'})
# По забитым дома голам лидирует Зенит

           home_team  забитые дома голы  пропущенные дома голы
3             Зенит                  43                     15
10             Сочи                  29                     16
8            Ростов                  28                     26
2          Динамо М                  25                     19
5    Крылья Советов                  25                     15
6       Локомотив М                  25                     17
15             ЦСКА                  24                      9
1             Ахмат                  23                     17
11        Спартак М                  22                     17
14            Химки                  21                     19
4         Краснодар                  19                     13
9             Рубин                  19                     25
0           Арсенал                  17                     22
13              Уфа                  16                     17
7   Нижний Новгород                  12                     19
12             Урал                  11                     14

In [49]:
# А по пропущенным в домашних матчах лучший результат (меньше всего) у ЦСКА
rpl.groupby('home_team', as_index = False) \
    .agg({'home_team_goals' : 'sum', 'away_team_goals' : 'sum'}) \
    .sort_values('away_team_goals') \
    .rename(columns = {'home_team_goals': 'забитые дома голы', 'away_team_goals' : 'пропущенные дома голы'})

           home_team  забитые дома голы  пропущенные дома голы
15             ЦСКА                  24                      9
4         Краснодар                  19                     13
12             Урал                  11                     14
3             Зенит                  43                     15
5    Крылья Советов                  25                     15
10             Сочи                  29                     16
1             Ахмат                  23                     17
6       Локомотив М                  25                     17
11        Спартак М                  22                     17
13              Уфа                  16                     17
2          Динамо М                  25                     19
7   Нижний Новгород                  12                     19
14            Химки                  21                     19
0           Арсенал                  17                     22
9             Рубин                  19                     25
8            Ростов                  28                     26

In [50]:
rpl.groupby(['season', 'result'], as_index = False).agg({'result':'count'})

    season  result
0   Autumn      20
1   Autumn      31
2   Autumn      21
3   Spring      20
4   Spring      31
5   Spring      15
6   Summer      25
7   Summer      32
8   Summer      15
9   Winter      12
10  Winter      10
11  Winter       8

In [51]:
season_counts = rpl.groupby('season', as_index=False).agg({'result':'count'})
season_counts.rename(columns={'result': 'total_matches'}, inplace=True)

result_counts = rpl.groupby(['season', 'result'], as_index=False).agg({'result':'count'})
result_counts = result_counts.merge(season_counts, on='season')
result_counts['result_percent'] = (result_counts['result'] / result_counts['total_matches']) * 100

In [52]:
result_counts

    season  result  total_matches  result_percent
0   Autumn      20             72       27.777778
1   Autumn      31             72       43.055556
2   Autumn      21             72       29.166667
3   Spring      20             66       30.303030
4   Spring      31             66       46.969697
5   Spring      15             66       22.727273
6   Summer      25             72       34.722222
7   Summer      32             72       44.444444
8   Summer      15             72       20.833333
9   Winter      12             30       40.000000
10  Winter      10             30       33.333333
11  Winter       8             30       26.666667

In [53]:

result_counts['result_2'] = ''
for i in range(len(result_counts)):
    if i % 3 == 0:
        result_counts.at[i, 'result_2'] = 'away_win'
    elif i % 3 == 1:
        result_counts.at[i, 'result_2'] = 'home_win'
    else:
        result_counts.at[i, 'result_2'] = 'tie'

In [54]:
# Интересно
# В результате видим, что зимой чаще побеждали гости. 
# Возможно календарь был составлен так, что сильные команды чаще проводили гостевые матчи зимой
# А может и нет... Повод проверить!
result_counts

    season  result  total_matches  result_percent  result_2
0   Autumn      20             72       27.777778  away_win
1   Autumn      31             72       43.055556  home_win
2   Autumn      21             72       29.166667       tie
3   Spring      20             66       30.303030  away_win
4   Spring      31             66       46.969697  home_win
5   Spring      15             66       22.727273       tie
6   Summer      25             72       34.722222  away_win
7   Summer      32             72       44.444444  home_win
8   Summer      15             72       20.833333       tie
9   Winter      12             30       40.000000  away_win
10  Winter      10             30       33.333333  home_win
11  Winter       8             30       26.666667       tie

In [55]:
rpl.tail(4)

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result
236,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Крылья Советов,Локомотив М,0,1,away_win
237,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Динамо М,Сочи,1,5,away_win
238,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Краснодар,Ахмат,1,1,tie
239,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,ЦСКА,Ростов,4,0,home_win

In [56]:
# Возможно результат (победа гостей/хозяев или ничья) зависит от времени начала матча?
# На первый взгляд связи нет
rpl.groupby(['day_time_cat', 'result']).agg({'result':'count'})

                       result
day_time_cat result
вечерний     away_win      45
             home_win      57
             tie           27
дневной      away_win      32
             home_win      47
             tie           32

In [57]:
# Давайте воспользуемся логистической регрессией, чтобы это выяснить!

In [58]:
# Но для начала надо определить силу команд. Как это сделать?
# Мы уже создали таблицу с командами и количеством забитых голов  в домашних матчах. Там же можно создать разницу забитых и пропущенных мячей 
# и на ее основе проранжировать команды по силе, создать столбец с количественной, ранговой или категориальной переменной, показывающей среднюю силу команды в сезоне. 
# Потом объединить рассчитанную таблицу с нашей основной таблицей rpl.  Но это для совсем ленивых.
# Мы сделаем немного по-другому: сдлаем новую таблицу с количеством очков в конце сезона и это буде показателем силы команды.

In [59]:
# Создадим временный датасет с результатами матчей, 3 столбцами, рассчитанными по столбцу result. 
# 1 - если это значение справедливо для столбца result, 0 - если нет
temp_df = pd.get_dummies(rpl['result'])

In [60]:
#Посмотрим на наш датасет - те же 240 записей. Теперь мы можем присоединить их к основному датасету.
temp_df

     away_win  home_win  tie
0           1         0    0
1           1         0    0
2           0         1    0
3           0         1    0
4           1         0    0
..        ...       ...  ...
235         1         0    0
236         1         0    0
237         1         0    0
238         0         0    1
239         0         1    0

[240 rows x 3 columns]

In [61]:
# объединение новых столбцов с оригинальным фреймом данных
rpl = pd.concat([rpl, temp_df], axis=1) # аргумент axis=1 означает, что присоединяем столбцы, а не строки

In [62]:
# Видим, что все прошло успешно (проскрольте вправо)
rpl

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result,away_win,home_win,tie
0,2021-07-23 20:00:00,Friday,20:00:00,вечерний,July,7,Summer,Ростов,Динамо М,0,2,away_win,1,0,0
1,2021-07-24 17:30:00,Saturday,17:30:00,вечерний,July,7,Summer,Химки,Зенит,1,3,away_win,1,0,0
2,2021-07-24 20:00:00,Saturday,20:00:00,вечерний,July,7,Summer,Локомотив М,Арсенал,3,1,home_win,0,1,0
3,2021-07-24 20:00:00,Saturday,20:00:00,вечерний,July,7,Summer,Рубин,Спартак М,1,0,home_win,0,1,0
4,2021-07-25 17:30:00,Sunday,17:30:00,вечерний,July,7,Summer,Урал,Краснодар,0,3,away_win,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Рубин,Уфа,1,2,away_win,1,0,0
236,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Крылья Советов,Локомотив М,0,1,away_win,1,0,0
237,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Динамо М,Сочи,1,5,away_win,1,0,0
238,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,Краснодар,Ахмат,1,1,tie,0,0,1
239,2022-05-21 17:00:00,Saturday,17:00:00,вечерний,May,5,Spring,ЦСКА,Ростов,4,0,home_win,0,1,0

In [63]:
# Создадим временную таблицу с результатми домашних матчей для каждой команды РПЛ
t1 = rpl.groupby('home_team', as_index = False).agg({'home_win':'sum', 'tie':'sum', 'away_win':'sum'})
t1

           home_team  home_win  tie  away_win
0           Арсенал          3    7         5
1             Ахмат          9    0         6
2          Динамо М          7    3         5
3             Зенит         13    1         1
4         Краснодар          8    3         4
5    Крылья Советов          7    3         5
6       Локомотив М          9    2         4
7   Нижний Новгород          4    3         8
8            Ростов          6    2         7
9             Рубин          5    2         8
10             Сочи          8    3         4
11        Спартак М          6    5         4
12             Урал          3    6         6
13              Уфа          3    8         4
14            Химки          4    8         3
15             ЦСКА          9    3         3

In [64]:
# Создадим временную таблицу с результатми выездных матчей для каждой команды РПЛ
t2 = rpl.groupby('away_team', as_index = False).agg({'home_win':'sum', 'tie':'sum', 'away_win':'sum'})
t2

           away_team  home_win  tie  away_win
0            Арсенал        12    1         2
1              Ахмат         8    3         4
2           Динамо М         4    2         9
3              Зенит         2    7         6
4          Краснодар         4    5         6
5     Крылья Советов         8    2         5
6        Локомотив М         4    7         4
7    Нижний Новгород         5    6         4
8             Ростов         5    6         4
9              Рубин         9    3         3
10              Сочи         4    2         9
11         Спартак М         8    3         4
12              Урал         7    3         5
13               Уфа         8    4         3
14             Химки         9    3         3
15              ЦСКА         7    2         6

In [65]:
# В каждой таблице создадис столбец с рассчитанным количеством набранных очков
t1['points'] = t1['home_win']*3 + t1['tie']*1
t2['points'] = t2['away_win']*3 + t2['tie']*1

In [66]:
# Проверяю, что все получилось
t1.head(3)

   home_team  home_win  tie  away_win  points
0   Арсенал          3    7         5      16
1     Ахмат          9    0         6      27
2  Динамо М          7    3         5      24

In [67]:
t2.head(3)

   away_team  home_win  tie  away_win  points
0    Арсенал        12    1         2       7
1      Ахмат         8    3         4      15
2   Динамо М         4    2         9      29

In [68]:
# Теперь можно объединить таблицы

In [69]:
# У нас одинаковые названия столбцов, надо переименовать перед объединением
t1 = t1.rename(columns = {'home_win' : 'h_home_win', 'tie' : 'h_tie', 'away_win' : 'h_away_win', 'points' : 'h_points'})
t2 = t2.rename(columns = {'home_win' : 'a_home_win', 'tie' : 'a_tie', 'away_win' : 'a_away_win', 'points' : 'a_points'})

In [70]:
# Объединим,удалим лишнюю колонку с названием, а еще одну колонку с названием переименуем, 
# тк в нашей таблице будут подсчитаны очки и домашних и выездных матчей
final_table = pd.concat([t1, t2], axis=1).drop('away_team', axis = 1).rename(columns = {'home_team' : 'team'})
final_table

,team,h_home_win,h_tie,h_away_win,h_points,a_home_win,a_tie,a_away_win,a_points
0,Арсенал,3,7,5,16,12,1,2,7
1,Ахмат,9,0,6,27,8,3,4,15
2,Динамо М,7,3,5,24,4,2,9,29
3,Зенит,13,1,1,40,2,7,6,25
4,Краснодар,8,3,4,27,4,5,6,23
5,Крылья Советов,7,3,5,24,8,2,5,17
6,Локомотив М,9,2,4,29,4,7,4,19
7,Нижний Новгород,4,3,8,15,5,6,4,18
8,Ростов,6,2,7,20,5,6,4,18
9,Рубин,5,2,8,17,9,3,3,12
10,Сочи,8,3,4,27,4,2,9,29
11,Спартак М,6,5,4,23,8,3,4,15
12,Урал,3,6,6,15,7,3,5,18
13,Уфа,3,8,4,17,8,4,3,13
14,Химки,4,8,3,20,9,3,3,12
15,ЦСКА,9,3,3,30,7,2,6,20

In [71]:
# Рассчитаем количество побед, ничей, поражений для всего сезона
final_table['final_wins'] = final_table.h_home_win + final_table.a_home_win
final_table['final_ties'] = final_table.h_tie + final_table.a_tie
final_table['final_losses'] = final_table.h_away_win + final_table.a_away_win

final_table['final_points'] = final_table.h_points + final_table.a_points

In [72]:
# Сделаем сортировку по количеству набранных очков, сравним с данными: https://www.championat.com/football/_russiapl/tournament/4465/
# Сходится
final_table.sort_values('final_points', ascending = False)

,team,h_home_win,h_tie,h_away_win,h_points,a_home_win,a_tie,a_away_win,a_points,final_wins,final_ties,final_losses,final_points
3,Зенит,13,1,1,40,2,7,6,25,15,8,7,65
10,Сочи,8,3,4,27,4,2,9,29,12,5,13,56
2,Динамо М,7,3,5,24,4,2,9,29,11,5,14,53
4,Краснодар,8,3,4,27,4,5,6,23,12,8,10,50
15,ЦСКА,9,3,3,30,7,2,6,20,16,5,9,50
6,Локомотив М,9,2,4,29,4,7,4,19,13,9,8,48
1,Ахмат,9,0,6,27,8,3,4,15,17,3,10,42
5,Крылья Советов,7,3,5,24,8,2,5,17,15,5,10,41
8,Ростов,6,2,7,20,5,6,4,18,11,8,11,38
11,Спартак М,6,5,4,23,8,3,4,15,14,8,8,38
7,Нижний Новгород,4,3,8,15,5,6,4,18,9,9,12,33
12,Урал,3,6,6,15,7,3,5,18,10,9,11,33
14,Химки,4,8,3,20,9,3,3,12,13,11,6,32
13,Уфа,3,8,4,17,8,4,3,13,11,12,7,30
9,Рубин,5,2,8,17,9,3,3,12,14,5,11,29
0,Арсенал,3,7,5,16,12,1,2,7,15,8,7,23

In [73]:
# У нас есть красивая табличка с победами, ничьими, поражениями дома, на выезде и в целом в сезоне. 
# Хотя полностью она нам не нужна, но и отдельно представлетя собой интерес и результат.

In [74]:
# Чтобы не запутаться переименую названия столбцов там, где неочевидно что к чему
# Теперь h_win	h_tie	h_loss	h_points относятся к домашним результатам команды, представленной в строке
# А a_loss	a_tie	a_win	a_points к выездным

final_table = final_table.rename(columns = {'h_home_win': 'h_win',  'h_away_win': 'h_loss', 'a_home_win': 'a_loss', 'a_away_win': 'a_win'}).sort_values('final_points', ascending = False)
final_table

,team,h_win,h_tie,h_loss,h_points,a_loss,a_tie,a_win,a_points,final_wins,final_ties,final_losses,final_points
3,Зенит,13,1,1,40,2,7,6,25,15,8,7,65
10,Сочи,8,3,4,27,4,2,9,29,12,5,13,56
2,Динамо М,7,3,5,24,4,2,9,29,11,5,14,53
4,Краснодар,8,3,4,27,4,5,6,23,12,8,10,50
15,ЦСКА,9,3,3,30,7,2,6,20,16,5,9,50
6,Локомотив М,9,2,4,29,4,7,4,19,13,9,8,48
1,Ахмат,9,0,6,27,8,3,4,15,17,3,10,42
5,Крылья Советов,7,3,5,24,8,2,5,17,15,5,10,41
8,Ростов,6,2,7,20,5,6,4,18,11,8,11,38
11,Спартак М,6,5,4,23,8,3,4,15,14,8,8,38
7,Нижний Новгород,4,3,8,15,5,6,4,18,9,9,12,33
12,Урал,3,6,6,15,7,3,5,18,10,9,11,33
14,Химки,4,8,3,20,9,3,3,12,13,11,6,32
13,Уфа,3,8,4,17,8,4,3,13,11,12,7,30
9,Рубин,5,2,8,17,9,3,3,12,14,5,11,29
0,Арсенал,3,7,5,16,12,1,2,7,15,8,7,23

In [75]:
# Раздумывая о том как оценить силу команды, я пришел к выводу, что можно показатель силы представить как количество очков набранных в сезоне.

# Макимум потенциальных очков - 90 (30 матчей, 3 очка за победу в одной игре = 30*3)
# Таким образом, показатель чемпиона равен 65/90, а команды, занявшей последнее место - 23/90.
# 65/90 и 23/90 - вероятности победы в конкретном матче (продвинутых букмекекрских методов расчета коэффициентов я не знаю, 
# результат конечно зависит еще и от соперника и других факторов). Фактор соперника я, кстати, позже учту. Но для пет-проекта
# и моих целей этого достаточно. А моя цель оценить - не дать коэффициент в конкретном матче, а учесть фактор силы команд при оценке другого параметра
# Деление на 90 я могу отбросить. (65/90) / (23/90) = 65 / 23 и также рано примерно 3. 
# Таким образом при встрече Зенита и Арсенала в сезоне 2021-2022 соотношение сил будет 3 к 1, а соотношение сил Ростова и Спартака 1 к 1.

In [76]:
# Давайте посмотрим как сыграли Зенит и Арсенал и Спартак и Ростов друг с другом
rpl.query('(home_team == "Зенит" and away_team == "Ростов") or (home_team == "Ростов" and away_team == "Зенит")')
# rpl.loc[((rpl['home_team'] == 'Зенит') & (rpl['away_team'] == 'Ростов')) | ((rpl['home_team'] == 'Ростов') & (rpl['away_team'] == 'Зенит'))]
# Оба способа не работают, проблема в названиях значений на кириллице, так как с латиницей все работает


# УПД. Как оказалось - проблема в другом, об этом ниже.

Empty DataFrame
Columns: [date, weekday, day_time, day_time_cat, month, month_number, season, home_team, away_team, home_team_goals, away_team_goals, result, away_win, home_win, tie]
Index: []

In [77]:
rpl.query('weekday == "Friday"').head(2) # работает!

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result,away_win,home_win,tie
0,2021-07-23 20:00:00,Friday,20:00:00,вечерний,July,7,Summer,Ростов,Динамо М,0,2,away_win,1,0,0
8,2021-07-30 19:00:00,Friday,19:00:00,вечерний,July,7,Summer,Крылья Советов,Спартак М,0,1,away_win,1,0,0

In [78]:
rpl.query('away_team == "Зенит"').head(2) # не работает!

Empty DataFrame
Columns: [date, weekday, day_time, day_time_cat, month, month_number, season, home_team, away_team, home_team_goals, away_team_goals, result, away_win, home_win, tie]
Index: []

In [79]:
# Проблема в кодировке, надо ее решить, так как без этого я не смогу двигаться дальше в анализе, даже если пропущу эту задачу.

In [80]:
rpl.home_team.head()

0         Ростов
1          Химки
2    Локомотив М
3          Рубин
4           Урал
Name: home_team, dtype: object

In [81]:
# После некоторого времени я понял, что проблема оказалась в неудаленных пробелах после преобразований
rpl.query('away_team == " Зенит"').head(2) # работает! Обратите внимание на пробел в начале
# Надо удалить бробелы

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result,away_win,home_win,tie
1,2021-07-24 17:30:00,Saturday,17:30:00,вечерний,July,7,Summer,Химки,Зенит,1,3,away_win,1,0,0
13,2021-08-01 20:00:00,Sunday,20:00:00,вечерний,August,8,Summer,Ростов,Зенит,2,4,away_win,1,0,0

In [82]:
rpl['home_team'] = rpl['home_team'].str.strip() 
rpl['away_team'] = rpl['away_team'].str.strip()
final_table['team'] = final_table['team'].str.strip()

In [83]:
# возвращаемся к матчам, теперь работает!
rpl.query('(home_team == "Зенит" and away_team == "Арсенал") or (home_team == "Арсенал" and away_team == "Зенит")')

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result,away_win,home_win,tie
80,2021-10-16 14:00:00,Saturday,14:00:00,дневной,October,10,Autumn,Арсенал,Зенит,2,1,home_win,0,1,0
169,2022-03-19 19:30:00,Saturday,19:30:00,вечерний,March,3,Winter,Зенит,Арсенал,3,0,home_win,0,1,0

In [84]:
rpl.query('(home_team == "Спартак М" and away_team == "Ростов") or (home_team == "Ростов" and away_team == "Спартак М")')

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result,away_win,home_win,tie
98,2021-10-30 16:30:00,Saturday,16:30:00,дневной,October,10,Autumn,Спартак М,Ростов,1,1,tie,0,0,1
204,2022-04-24 16:30:00,Sunday,16:30:00,дневной,April,4,Spring,Ростов,Спартак М,3,2,home_win,0,1,0

In [85]:
# 2 интересных нам противостояния не совем подтвердили нашу гипотезу, но мы же знаем о выбросах и можем списать результаты на этот счет. 
#  Кроме того, если посмотреть по голам, то Зенит забил Арсеналу в 2 раза больше, а у Спартака и Ростова разница мячей составила 1 гол.
# Здесь цифры уходят на 2 план и начинаются интерпретации, которые не так объективны:)

In [86]:
# Для начала создадим таблицу с силой команд

team_power = pd.concat([final_table['team'], final_table['final_points']], axis=1, keys=['team', 'power'])

In [87]:
team_power

               team  power
3             Зенит     65
10             Сочи     56
2          Динамо М     53
4         Краснодар     50
15             ЦСКА     50
6       Локомотив М     48
1             Ахмат     42
5    Крылья Советов     41
8            Ростов     38
11        Спартак М     38
7   Нижний Новгород     33
12             Урал     33
14            Химки     32
13              Уфа     30
9             Рубин     29
0           Арсенал     23

In [88]:
# Объединим таблицы и присвоим значения силы строкам в главной таблице rpl с результатами матчей

In [89]:
# Разобрался как можно было сделать проще, но уже реализовал по-другому. 
# merged_df = pd.merge(rpl, team_power, how='inner', left_on='home_team', right_on='team') + дропнуть лишнюю колонку

In [90]:
# merged_df = pd.merge(merged_df, team_power, how='inner', left_on='away_team', right_on='team') + дропнуть лишнюю колонку

In [91]:
#  Это можно сделать и merge, но у меня пока не получилось, пойду смотреть как. А пока сделаю более трудоемким способом.
#  Теперь можно создать столбец с силой домашней команды
conditions = [
    (rpl['home_team'] == 'Зенит'),
    (rpl['home_team'] == 'Сочи'),
    (rpl['home_team'] ==  'Динамо М'),
    (rpl['home_team'] ==  'Краснодар'),
    (rpl['home_team'] ==  'ЦСКА'),
    (rpl['home_team'] ==  'Локомотив М'),
    (rpl['home_team'] ==  'Ахмат'),
    (rpl['home_team'] ==  'Крылья Советов'),
    (rpl['home_team'] ==  'Ростов'),
    (rpl['home_team'] ==  'Спартак М'),
    (rpl['home_team'] ==  'Нижний Новгород'),
    (rpl['home_team'] ==  'Урал'),
    (rpl['home_team'] ==  'Химки'),
    (rpl['home_team'] ==  'Уфа'),
    (rpl['home_team'] ==  'Рубин'),
    (rpl['home_team'] ==  'Арсенал')
]

values = [65, 56, 53, 50, 50, 48, 42, 41, 38, 38, 33, 33, 32, 30, 29, 23]

rpl['home_power'] = np.select(conditions, values)

In [92]:
# Все ок
rpl.home_power.isna().sum()

0

In [93]:
#  Теперь можно создать столбец с силой гостевой команды

conditions = [
    (rpl['away_team'] == 'Зенит'),
    (rpl['away_team'] == 'Сочи'),
    (rpl['away_team'] ==  'Динамо М'),
    (rpl['away_team'] ==  'Краснодар'),
    (rpl['away_team'] ==  'ЦСКА'),
    (rpl['away_team'] ==  'Локомотив М'),
    (rpl['away_team'] ==  'Ахмат'),
    (rpl['away_team'] ==  'Крылья Советов'),
    (rpl['away_team'] ==  'Ростов'),
    (rpl['away_team'] ==  'Спартак М'),
    (rpl['away_team'] ==  'Нижний Новгород'),
    (rpl['away_team'] ==  'Урал'),
    (rpl['away_team'] ==  'Химки'),
    (rpl['away_team'] ==  'Уфа'),
    (rpl['away_team'] ==  'Рубин'),
    (rpl['away_team'] ==  'Арсенал')
]

values = [65, 56, 53, 50, 50, 48, 42, 41, 38, 38, 33, 33, 32, 30, 29, 23]

rpl['away_power'] = np.select(conditions, values)

In [94]:
# Все ок
rpl.away_power.isna().sum()

0

In [95]:
# Есть 2 новых столбца - теперь легко сделать столбец с отношением сил домащней команды к гостевой home_power / away_power
rpl.head(2)

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,away_team_goals,result,away_win,home_win,tie,home_power,away_power
0,2021-07-23 20:00:00,Friday,20:00:00,вечерний,July,7,Summer,Ростов,Динамо М,0,2,away_win,1,0,0,38,53
1,2021-07-24 17:30:00,Saturday,17:30:00,вечерний,July,7,Summer,Химки,Зенит,1,3,away_win,1,0,0,32,65

In [96]:
rpl['home_to_away_power'] = rpl.home_power / rpl.away_power

In [97]:
rpl['home_to_away_power'].describe()

count    240.000000
mean       1.081614
std        0.437162
min        0.353846
25%        0.760000
50%        1.000000
75%        1.315789
max        2.826087
Name: home_to_away_power, dtype: float64

In [98]:
# Надо бы стандартизировать переменную на всякий случай
import pandas as pd
import scipy
from scipy import stats

rpl['home_to_away_power_std'] = stats.zscore(rpl['home_to_away_power'])

In [99]:
rpl['home_to_away_power_std'].describe()

count    2.400000e+02
mean    -4.038436e-16
std      1.002090e+00
min     -1.668233e+00
25%     -7.372222e-01
50%     -1.870797e-01
75%      5.367920e-01
max      3.998787e+00
Name: home_to_away_power_std, dtype: float64

In [100]:
# Убираем научную нотацию
#  минимум
x_min = -1.668233e+00
 
print("{:f}".format(x_min))

-1.668233

In [101]:
# максимум
x_max = 3.998787e+00
 
print("{:f}".format(x_max))

3.998787

In [102]:
# Среднее
x_mean = -4.038436e-16
 
print("{:f}".format(x_mean))

-0.000000

In [103]:
# Теперь можно делать логистическую регрессию
# Зависимой переменной будет home_win, принимающая значение 1 в случае победы домашней команды, 0 - в случае нrичьей или победы гостей
rpl.home_win.value_counts(normalize = True)*100
# В 43% случаев хозяева побеждают, в 57% - играют в ничью или проигрывают
# Это хорошее распределение, для логистической регрессии желательно распределение примерно 50 на 50%

0    56.666667
1    43.333333
Name: home_win, dtype: float64

In [104]:
# Ради интереса посмотирим на процент других исходов. гости выигрывают в 32% процентах случаев
rpl.away_win.value_counts(normalize = True)*100

0    67.916667
1    32.083333
Name: away_win, dtype: float64

In [105]:
# 24% - ничьи
rpl.tie.value_counts(normalize = True)*100

0    75.416667
1    24.583333
Name: tie, dtype: float64

In [106]:
import statsmodels.api as sm
import statsmodels.formula.api as smf 


# Я изучал R и мне нравится этот язык программирования для статистики, этот синтаксис напоминает модели в R, поэтому выбрал его
# Здесь я не буду объяснять что такое логистическая регрессия - можно посмотреть в сети Интернет
# Напомню, что в процессе разведывательного анализа данных мне интересно было - есть ли связь между победами домашней команды и 
# временем года, в которое проходит матч. Также я предположил, что, возможно, просто на зиму выпало больше игр слабых команд 
# с сильными, которые играли на выезде. Я не стал смотреть календарь (хотя мог бы), а решил использовать логистическую регресию,
# с помощью который мог бы подтвердить или опровергнуть свою гипотезу статистически.
# Поэтому в предикторах у меня 2 фактора: 1.отношение силы команды-хозяйки и команды-гостя, 2 - время года, в которое сыгран матч.
# Вторая переменная категориальная, для нее в саммари лог. регрессии выбирается одно из значений как опорное, относительно которого 
# считаются статистики других значений переменной.
results = smf.logit('home_win ~ home_to_away_power_std + season', rpl).fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.572424
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               home_win   No. Observations:                  240
Model:                          Logit   Df Residuals:                      235
Method:                           MLE   Df Model:                            4
Date:                Thu, 16 Feb 2023   Pseudo R-squ.:                  0.1634
Time:                        12:20:48   Log-Likelihood:                -137.38
converged:                       True   LL-Null:                       -164.22
Covariance Type:            nonrobust   LLR p-value:                 6.177e-11
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -0.4303      0.267     -1.610      0.107      -0.954       0.094
season[T.Spring]           0.4925      0.382      1.288      0.198      -0.257       1.242
season[T.Summer]           0.3258      0.380      0.858      0.391      -0.418       1.070
season[T.Winter]          -0.8259      0.548     -1.508      0.132      -1.900       0.248
home_to_away_power_std     1.1159      0.181      6.182      0.000       0.762       1.470
==========================================================================================

In [107]:
# Мы объяснили 16% дисперсии (Pseudo R-squ.: 0.1634), в социальных науках это неплохой результат
# Фактор соотношения сил команд значим, сезоны - нет.

In [108]:
# Интересно посмотреть сколько дисперсии объяснит модель без переменной с временами года
results2 = smf.logit('home_win ~ home_to_away_power_std', rpl).fit()
print(results2.summary())
# 14%

Optimization terminated successfully.
         Current function value: 0.586359
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               home_win   No. Observations:                  240
Model:                          Logit   Df Residuals:                      238
Method:                           MLE   Df Model:                            1
Date:                Thu, 16 Feb 2023   Pseudo R-squ.:                  0.1430
Time:                        12:20:50   Log-Likelihood:                -140.73
converged:                       True   LL-Null:                       -164.22
Covariance Type:            nonrobust   LLR p-value:                 7.176e-12
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -0.2770      0.144     -1.921      0.055      -0.560       0.006
home_to_away_power_std     1.0300      0.172      5.979      0.000       0.692       1.368
==========================================================================================

In [109]:
# Также интересно - есть ли интерактивные эффекты, взаимодействие пременных?
results3 = smf.logit('home_win ~ home_to_away_power_std * season', rpl).fit()
print(results3.summary())

Optimization terminated successfully.
         Current function value: 0.562959
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:               home_win   No. Observations:                  240
Model:                          Logit   Df Residuals:                      232
Method:                           MLE   Df Model:                            7
Date:                Thu, 16 Feb 2023   Pseudo R-squ.:                  0.1772
Time:                        12:20:52   Log-Likelihood:                -135.11
converged:                       True   LL-Null:                       -164.22
Covariance Type:            nonrobust   LLR p-value:                 3.433e-10
===========================================================================================================
                                              coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
Intercept                                  -0.3740      0.255     -1.469      0.142      -0.873       0.125
season[T.Spring]                            0.4074      0.372      1.095      0.274      -0.322       1.137
season[T.Summer]                            0.3208      0.384      0.836      0.403      -0.431       1.073
season[T.Winter]                           -1.3942      0.791     -1.763      0.078      -2.944       0.156
home_to_away_power_std                      0.7317      0.282      2.594      0.009       0.179       1.285
home_to_away_power_std:season[T.Spring]     0.2309      0.462      0.500      0.617      -0.675       1.137
home_to_away_power_std:season[T.Summer]     0.6926      0.468      1.481      0.139      -0.224       1.609
home_to_away_power_std:season[T.Winter]     1.2509      0.809      1.546      0.122      -0.335       2.837
===========================================================================================================

In [110]:
# Хотя (Pseudo R-squ.:  0.1772) стал больше, но мы на это потратили слишком много степеней свободы 
# (есть тесты, доказывающие это статистически, но здесь это и так видно). Игра не стоит свеч. 
# Статзначимых интерактивных эффектов также не нашли
# Лучше всего результат матча предсказывает сила команд (из 2 исследованных переменных), а сезонность не играет роли.

In [111]:
# Ну и мы видим, что и сама переменная сезонность даже без наличия мощного предиктора-конкурента не может объяснить 
# серьезной доли дисперсии зависимой переменной.  Pseudo R-squ.: 0.005009. 
# Так что особого смысла ставить этот предиктор в модель и не было.
# Гораздо интереснее бывают ситуации, когда по отдельности предикторы хорошо объясняют зависимую переменную,
# но при добавлении в модель один из них станосится незначим
results4 = smf.logit('home_win ~ season', rpl).fit()
print(results4.summary())

Optimization terminated successfully.
         Current function value: 0.680804
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               home_win   No. Observations:                  240
Model:                          Logit   Df Residuals:                      236
Method:                           MLE   Df Model:                            3
Date:                Thu, 16 Feb 2023   Pseudo R-squ.:                0.005009
Time:                        12:20:53   Log-Likelihood:                -163.39
converged:                       True   LL-Null:                       -164.22
Covariance Type:            nonrobust   LLR p-value:                    0.6492
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.2796      0.238     -1.175      0.240      -0.746       0.187
season[T.Spring]     0.1582      0.343      0.462      0.644      -0.514       0.830
season[T.Summer]     0.0564      0.336      0.168      0.867      -0.602       0.715
season[T.Winter]    -0.4136      0.455     -0.910      0.363      -1.305       0.477
====================================================================================

In [112]:
# пробую через merge
merged_df = pd.merge(rpl, team_power, how='inner', left_on='home_team', right_on='team')

In [113]:
merged_df

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,...,result,away_win,home_win,tie,home_power,away_power,home_to_away_power,home_to_away_power_std,team,power
0,2021-07-23 20:00:00,Friday,20:00:00,вечерний,July,7,Summer,Ростов,Динамо М,0,...,away_win,1,0,0,38,53,0.716981,-0.835833,Ростов,38
1,2021-08-01 20:00:00,Sunday,20:00:00,вечерний,August,8,Summer,Ростов,Зенит,2,...,away_win,1,0,0,38,65,0.584615,-1.139249,Ростов,38
2,2021-08-14 20:00:00,Saturday,20:00:00,вечерний,August,8,Summer,Ростов,ЦСКА,1,...,away_win,1,0,0,38,50,0.760000,-0.737222,Ростов,38
3,2021-09-13 19:30:00,Monday,19:30:00,вечерний,September,9,Summer,Ростов,Краснодар,1,...,tie,0,0,1,38,50,0.760000,-0.737222,Ростов,38
4,2021-09-26 16:30:00,Sunday,16:30:00,дневной,September,9,Summer,Ростов,Ахмат,1,...,away_win,1,0,0,38,42,0.904762,-0.405390,Ростов,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2022-03-20 16:30:00,Sunday,16:30:00,дневной,March,3,Winter,Сочи,Крылья Советов,2,...,away_win,1,0,0,56,41,1.365854,0.651552,Сочи,56
236,2022-04-03 19:00:00,Sunday,19:00:00,вечерний,April,4,Spring,Сочи,Зенит,0,...,tie,0,0,1,56,65,0.861538,-0.504470,Сочи,56
237,2022-04-17 16:30:00,Sunday,16:30:00,дневной,April,4,Spring,Сочи,Локомотив М,2,...,tie,0,0,1,56,48,1.166667,0.194964,Сочи,56
238,2022-04-23 19:00:00,Saturday,19:00:00,вечерний,April,4,Spring,Сочи,Ахмат,3,...,home_win,0,1,0,56,42,1.333333,0.577007,Сочи,56
239,2022-05-13 19:00:00,Friday,19:00:00,вечерний,May,5,Spring,Сочи,Нижний Новгород,0,...,tie,0,0,1,56,33,1.696970,1.410556,Сочи,56

In [114]:
merged_df = pd.merge(merged_df, team_power, how='inner', left_on='away_team', right_on='team')

In [115]:
# Работает
merged_df.drop(['team_x', 'team_y'], axis=1)

,date,weekday,day_time,day_time_cat,month,month_number,season,home_team,away_team,home_team_goals,...,result,away_win,home_win,tie,home_power,away_power,home_to_away_power,home_to_away_power_std,power_x,power_y
0,2021-07-23 20:00:00,Friday,20:00:00,вечерний,July,7,Summer,Ростов,Динамо М,0,...,away_win,1,0,0,38,53,0.716981,-0.835833,38,53
1,2022-02-26 14:00:00,Saturday,14:00:00,дневной,February,2,Winter,Химки,Динамо М,0,...,away_win,1,0,0,32,53,0.603774,-1.095334,32,53
2,2022-05-14 16:30:00,Saturday,16:30:00,дневной,May,5,Spring,Локомотив М,Динамо М,3,...,tie,0,0,1,48,53,0.905660,-0.403331,48,53
3,2021-11-28 16:30:00,Sunday,16:30:00,дневной,November,11,Autumn,Рубин,Динамо М,2,...,away_win,1,0,0,29,53,0.547170,-1.225084,29,53
4,2021-08-21 18:00:00,Saturday,18:00:00,вечерний,August,8,Summer,Урал,Динамо М,0,...,away_win,1,0,0,33,53,0.622642,-1.052084,33,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2021-11-27 16:30:00,Saturday,16:30:00,дневной,November,11,Autumn,Ахмат,Ростов,2,...,home_win,0,1,0,42,38,1.105263,0.054211,42,38
236,2021-12-03 19:00:00,Friday,19:00:00,вечерний,December,12,Autumn,Зенит,Ростов,2,...,tie,0,0,1,65,38,1.710526,1.441632,65,38
237,2021-10-30 16:30:00,Saturday,16:30:00,дневной,October,10,Autumn,Спартак М,Ростов,1,...,tie,0,0,1,38,38,1.000000,-0.187080,38,38
238,2022-03-20 20:00:00,Sunday,20:00:00,вечерний,March,3,Winter,Динамо М,Ростов,1,...,tie,0,0,1,53,38,1.394737,0.717760,53,38
239,2021-10-16 19:00:00,Saturday,19:00:00,вечерний,October,10,Autumn,Сочи,Ростов,3,...,home_win,0,1,0,56,38,1.473684,0.898728,56,38

In [118]:
results5 = smf.logit('away_win ~ home_to_away_power_std + season + day_time_cat', rpl).fit()
print(results5.summary())

Optimization terminated successfully.
         Current function value: 0.582175
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               away_win   No. Observations:                  240
Model:                          Logit   Df Residuals:                      234
Method:                           MLE   Df Model:                            5
Date:                Thu, 16 Feb 2023   Pseudo R-squ.:                 0.07223
Time:                        12:36:03   Log-Likelihood:                -139.72
converged:                       True   LL-Null:                       -150.60
Covariance Type:            nonrobust   LLR p-value:                 0.0005830
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                  -0.7576      0.317     -2.390      0.017      -1.379      -0.136
season[T.Spring]           -0.0285      0.389     -0.073      0.942      -0.791       0.734
season[T.Summer]            0.0714      0.391      0.183      0.855      -0.694       0.837
season[T.Winter]            0.7396      0.487      1.519      0.129      -0.214       1.694
day_time_cat[T.дневной]    -0.4172      0.311     -1.342      0.180      -1.026       0.192
home_to_away_power_std     -0.6955      0.175     -3.981      0.000      -1.038      -0.353
===========================================================================================

In [119]:
results6 = smf.logit('away_win ~ day_time_cat', rpl).fit()
print(results6.summary())

Optimization terminated successfully.
         Current function value: 0.625397
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               away_win   No. Observations:                  240
Model:                          Logit   Df Residuals:                      238
Method:                           MLE   Df Model:                            1
Date:                Thu, 16 Feb 2023   Pseudo R-squ.:                0.003345
Time:                        12:36:33   Log-Likelihood:                -150.10
converged:                       True   LL-Null:                       -150.60
Covariance Type:            nonrobust   LLR p-value:                    0.3155
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                  -0.6242      0.185     -3.379      0.001      -0.986      -0.262
day_time_cat[T.дневной]    -0.2796      0.279     -1.001      0.317      -0.827       0.268
===========================================================================================